{%  extends "base.html" %}

{% block titulo%} Producir Producto {% endblock %}

{% block contenido %} 

<h1>Ingresar Orden de Produccion</h1>
<form method="post">
    {% csrf_token %}
    <label for="prod_copec_select">Producto Copec:</label>
    <select id="prod_copec_select" name="prod_copec_id" required>
        <option value="">Selecciona un producto</option>
        {% for prod_copec  in prod_copecs  %}
            <option value="{{ prod_copec.prod_copec_id }}">{{ prod_copec.prod_copec_nom }}</option>
        {% endfor %}
    </select><br><br>

    <label for="valor_total">Volumen Requerido:</label>
    <input type="number" step="0.01" id="valor_total" name="valor_total" required><br><br>


    <button type="submit">Ingresar Orden</button>
</form>

{% endblock %} 