{% load static %}
<html lang="en">
<head>
    <title>LoginAuth</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <div class="col">
        <div class="row">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h2>Iniciar sesión</h2>
            <div>
                <label for="id_username">Usuario:</label>
                <input type="text" name="username" id="id_username" required>
            </div>
            <div>
                <label for="id_password">Contraseña:</label>
                <input type="password" name="password" id="id_password" required>
            </div>
            <button type="submit">Iniciar sesión</button>
        </form>
        </div>    
        {% if form.errors %}
        <div class="row">
            <p>El nombre de usuario o la contraseña son incorrectos.</p>
        </div>        
        {% endif %}
    </div>
            
</body>
</html>