{% extends "base.html" %}

{% block titulo %} Insumos {% endblock %}

{% block contenido %}
<br>
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="/ingresar_insumo" role="button">Agregar Insumo</a>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Listado de Insumos</h5>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Ordenar por
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="?ordenar_por=in_nombre">Nombre</a></li>
                    <li><a class="dropdown-item" href="?ordenar_por=insumo_id">ID</a></li>
                </ul>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for insu in insus %}
                    <tr>
                        <td scope="row">{{ insu.insumo_id }}</td>
                        <td>{{ insu.in_nombre }}</td>
                        <td>{{ insu.in_desc }}</td>
                        <td>
                            <a name="" id="" class="btn btn-info" href="/editar_insumo/{{ insu.insumo_id }}" role="button">Editar</a> | 
                            <a name="" id="" class="btn btn-danger" href="/eliminar_insumo/{{ insu.insumo_id }}" role="button">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
 <!--            
            <h2>Filtrar insumos</h2>
            filtro por cantidad -->
            <!-- <a href="?filtrar_cantidad=0">Mostrar solo insumos con cantidad distinta de 0</a> --> 
        </div>
    </div>
</div>
{% endblock %}
