{%  extends "base.html" %}

{% block titulo%} Producir Producto {% endblock %}

{% block contenido %}
<div class="row -myDiv">
    <h1>Gestion de Plataforma</h1><br>
    <div class="col">        
        <h2>Materias Primas<h2>
        <a href="/crud_mp">
            <h4>Gestión de Materias Primas</h4>
        </a>
        <a href="/crud_stock_mp">
            <h4>Gestión de Stock Materias Primas</h4>
        </a>
    </div> 
    <div class="col">
        <h2>Productos<h2>
        <a href="/crud_producto">
            <h4>Gestión de Productos</h4>
        </a>
        <a href="/crud_comp">
            <h4>Gestión de Composiciones</h4>
        </a>
        <a href="/crud_producto_copec">
            <h4>Gestión de Productos Copec</h4> 
        </a>
        <a href="/crud_stock_prod">
            <h4>Gestión de Stock de Productos</h4> 
        </a>
    </div>
    <div class="col">
        <h2>Insumos<h2>
        <a href="/crud_insu">
            <h4>Gestión de Insumos</h4>
        </a>
        <a href="/crud_stock_insumo">
            <h4>Gestión de Stock de Insumos</h4>
        </a>
    </div>
</div>







{% endblock %} 