{%  extends "base.html" %}

{% block titulo%} Insumos {% endblock %}

{% block contenido %} 
<br>
<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <h5 class="card-title">Producción y Control de Calidad</h5>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Lote</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Producto</th>
                        <th scope="col">LITROS</th>
                        <th scope="col">Envases</th>
                        <th scope="col">Estado</th>

                    </tr>
                </thead>
                <tbody>
                    {% for odp in odps %} 
                    <tr>
                        {% if odp.estado_produccion == "PENDIENTE" %}                                               
                        <td scope="row">{{ odp.lote_prod_id }}</td>
                        <td>{{ odp.lote_prod_fecha }}</td>
                        <td>{{ odp.prod_copec.producto }}</td>
                        <td>{{ odp.volumen_odp }}</td>
                        <td>{{ odp.prod_copec.insumo }}</td>
                        <td>{{ odp.estado_produccion }}</td>

                        <td>
                            <a name="" id="" class="btn btn-info" href="/editar_calidad/{{ odp.lote_prod_id }}" role="button">Editar</a> | 
                            <a name="" id="" class="btn btn-info" href="/confirmar_prod_calidad/{{odp.lote_prod_id}}" role="button">Confirmar Produccion</a> 

                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>

{% endblock %} 