{% load static %}
<!-- usercrud/templates/usercrud/user_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}Editar Usuario{% else %}Crear Usuario{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Editar Usuario{% else %}Crear Usuario{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'usercrud:user_list' %}">Volver a lista de usuarios</a>
</body>
</html>