{% load static %}
<!-- templates/usercrud/user_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div>
        <h1>Lista de Usuarios</h1>
    </div>
    <div class="card">
        <ul>
            {% for user in users %}
                <li><a href="{% url 'usercrud:user_detail' user.pk %}">
                {{ user.username }}</a></li>
            {% endfor %}
            <li>
                <div class="btn">
                    <a href="{% url 'usercrud:user_create' %}">Crear nuevo Usuario</a>
                </div>
            </li>
        </ul>
    </div>
    
</body>
</html>